DATABASE_URL=postgres://postgres:postgres@localhost:5432/foliox
REDIS_URL=redis://localhost:6379
RPC_URL=https://api.devnet.solana.com
HELIUS_API_KEY=
PROGRAM_WHITELIST=bdEDPr9KGtkSABS8Sg3gWeJKyQEaTQVaBRvCu38YMNz
PROGRAM_FACTORY=sXShikYX7G5n3S3qp78RWQBxh2YJARLvufiCoaxjAyq
PROGRAM_BASKET=37VPGtd57kXJ1HvH1xvdZr1y3s4KXj9pP2o6GdYLgbb1
PORT=3001
